{% extends "base.html" %}

{% block content %}

<h2>Products</h2>

<form method="GET">
    <input type="text" name="search" placeholder="Search..." style="padding:8px;">
    <button class="btn">Search</button>
</form>

<br>

<div style="display:grid; grid-template-columns: repeat(4, 1fr); gap:20px;">
    {% for p in products %}
    <div class="card">
        <h3>{{ p.title }}</h3>
        <p>${{ p.price }}</p>
        <a href="/product/{{ p.id }}">
            <button class="btn">View</button>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}